{% extends "base.html" %}

{% load fontawesome %}

{% block site_title %}{{ election.name }}{% endblock %}
{% block body_title %}{{ election.name }}{% endblock %}

{% block custom_head %}
    <meta property='og:description' content='Election commitment tracker for {{ election.name }}. What has your vote done for you?' />
    {% if election.logo %}
        <meta property='og:image' content='http://commitments.kye.id.au/{{ election.logo.url }}' />
    {% endif %}
{% endblock %}

{% block content %}

<h2>General Information</h2>
<table class="table">
    <tr>
        <th>Name</td>
        <td>{{ election.name }}</td>
    </tr>
    {% if election.results %}
        <tr>
            <th>Results</td>
            <td><a href="{{ election.results }}">{{ election.results }}</a></td>
        </tr>
    {% endif %}
    <tr>
        <th>Start Date</td>
        <td>{{ election.start_date }}</td>
    </tr>
    <tr>
        <th>End Date</td>
        <td>{{ election.end_date }}</td>
    </tr>
    {% if election.participants.all %}
        <tr>
            <th>Participants</td>
            <td>{{ election.participants.all|join:', ' }}</td>
        </tr>
    {% endif %}
</table>

<!--<h2>Key</h2>
<table class="table">
    <tr>
        <td>
            <span class='label label-warning'>Unactioned</span>
        </td>
        <td>
            There is no evidence that any effort has been made toward the implementation of this commitment.
        </td>
    </tr>
    <tr>
        <td>
            <span class='label label-danger'>Failed</span>
        </td>
        <td>
            There has been a visible failure in the implementation of this commitment.
        </td>
    </tr>
    <tr>
        <td>
            <span class='label label-primary'>In Progress</span>
        </td>
        <td>
            Visible progress has been made toward the implementation of this commitment.
        </td>
    </tr>
    <tr>
        <td>
            <span class='label label-success'>Implemented</span>
        </td>
        <td>
            This commitment has been implemented in full.
        </td>
    </tr>
</table>-->

{% for p_info in parties %}
    <h2 id='{{ p_info.party.slug }}'><a href="#{{ p_info.party.slug }}">{{ p_info.party }}</a></h2>
    {% if p_info.commitments %}
        <table class="table table-condensed">
            <tr>
                <td class="col-md-3">Commitments made</td>
                <td>{{ p_info.commitments.count }}</td>
            </tr>
            <tr>
                <td class="col-md-3">Commitments implemented</td>
                <td>{{ p_info.implemented.count }}</td>
            </tr>
        </table>

        {% for commitment in p_info.commitments %}
            <div class="panel panel-default" id='{{ commitment.party.slug }}-{{ commitment.slug }}'>
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ commitment.icon.as_html }}
                        {{ commitment.name }}
                        {% if commitment.status == 'UA' %}
                            <span class='label label-warning'>Unactioned</span>
                        {% elif commitment.status == 'IM' %}
                            <span class='label label-success'>Implemented</span>
                        {% elif commitment.status == 'FA' %}
                            <span class='label label-danger'>Failed</span>
                        {% elif commitment.status == 'PR' %}
                            <span class='label label-primary'>In Progress</span>
                        {% endif %}
                    </h3>
                </div>
                <div class="panel-body">
                    <p>{{ commitment.description|linebreaks }}</p>
                    <hr />
                    {% if commitment.status_description %}
                        <p>{{ commitment.status_description|linebreaks }}</p>
                    {% else %}
                        <p class='text-danger'>There is no status description for this commitment.</p>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <a href="#{{ commitment.party.slug }}-{{ commitment.slug }}">
                        {% fontawesome_icon 'link' %}
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4 class="text-danger">{{ p_info.party }} didn't make any commitments.</h4>
    {% endif %}
{% endfor %}

{% endblock %}
