{% extends "base.html" %}

{% block site_title %}Elections{% endblock %}
{% block body_title %}Elections{% endblock %}

{% block content %}
{% if object_list %}
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Participants</th>
            <th class="col-md-3"></th>
        </thead>
        <tbody>
            {% for election in object_list %}
            <tr>
                <td>
                    {{ election.name }}<br />
                    <small>{{ election.start_date|date }}
                    {% if election.end_date != election.start_date %}
                        to {{ election.end_date|date }}
                    {% endif %}</small>
                </td>
                <td>
                    {{ election.participants.all|join:', ' }}
                </td>
                <td>
                    <a href="{{ election.results }}" class="btn {% if not election.results %}disabled{% endif %} btn-primary">Results</a>
                    <a href="{% url 'commitments' election.slug %}" class="btn {% if not election.commitment_set.all %}disabled{% endif %} btn-success">Commitments</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-danger">There are no elections!</p>
    <p class="text-danger">Democracy is over!</p>
{% endif %}
{% endblock %}