{% load bootstrap3 %}
{% load staticfiles %}
{% load fontawesome %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block site_title %}Example{% endblock %} - commitments</title>

    <meta property='og:site_name' content='commitments' />

    {% block custom_head %}
    {% endblock %}
    
    {% bootstrap_css %}
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    {% fontawesome_stylesheet %}

    <!-- <link rel="icon" type="image/png" href="{% static 'img/coderdojo_logo_small.png' %}" /> -->

    <!-- Page-specific CSS -->
    {% block custom_css %}
    {% endblock %}
</head>
<body>
<div id="wrap">
    <div class="container">
        <nav id="navbar" class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">
                        <span id="brand_text">commitments</span>
                        <img class="hidden" src="{% static 'img/comssa_logo_128.png' %}" id="brand_logo" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'elections' %}">Elections</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </div>
    
    <div class="container">

        <div class="page-header">
            <h1>
                {% block body_title %}Example{% endblock %}
            </h1>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            <hr />
        {% endif %}
        {% block content %}
            <p>This needs to be changed.</p>
        {% endblock %}
    </div>
    <div id="push"></div>
</div>

    <div id="footer">
        <div class="container">
            <p id="footer_credits" class="text-muted credit text-center">
                commitments &copy; 2015 <a href="https://kye.id.au">Kye Russell</a>.<br />
                Created independently by Kye Russell. This website is not affiliated with any third-parties.<br />
                This project is open-source! It's <a href="https://bitbucket.org/kyer/commitments/">available on BitBucket</a>.
            </p>
        </div>
    </div>

    <script src="{% bootstrap_jquery_url %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    {% bootstrap_javascript %}

    <!-- Page-specific Javascript -->
    {% block custom_js %}
    {% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61158331-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
